body {
  margin:0;
  background-color: #F8F6F4;
  padding:0 10%;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding:10px;
}
section {
  height: 100vh;
}
#intro {
  background-image: url("/img/intro.png");
  background-repeat: no-repeat;
}
h1 {
  color: #D2462F;
}
