body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #cbffdc 0, #baffdc 16.67%, #abffda 33.33%, #9df2d5 50%, #92e3cf 66.67%, #89d5c9 83.33%, #83c9c4 100%);
}

nav {
  position: fixed;
  right: 0;
  width: 100%;
  padding-right: 10%;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  padding: 5px 10px;
  background-color: #C4FCCA;
  border-radius: 5px;
}

nav li a {
  text-decoration: none;
}

nav .active, nav .btn:hover {
  background-color: #9DDBA3;
}

a:visited {
  color: #000;
}

a {
  color: inherit;
}

section {
  box-sizing: border-box;
  padding: 5% 10%;
  scroll-behavior: smooth;
}

#intro {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 130% 45%;
  background-image: url("/img/main.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#intro p, #intro h1, #intro h2 {
  width: 60%;
}

#intro #linkbelow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  text-align: center;
  font-size: 1em;
  background: url("/img/arrow_down.png") no-repeat center;
  height: 100px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  background: url("/img/brush_bg.png") no-repeat center;
}

#skills h1 {
  grid-column: 1 / 5;
  padding-bottom: 20px;
}

#skills h3 {
  font-weight: 100;
  align-self: end;
  padding-right: 10px;
}

#skills h3:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}

#skills h3:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
}

#skills h3:nth-of-type(3) {
  grid-column: 3;
  grid-row: 2;
}

#skills h3:nth-of-type(4) {
  grid-column: 4;
  grid-row: 2;
}

#skills ul {
  padding-left: 0;
}

#skills li {
  list-style-type: none;
}

#portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

#portfolio h1 {
  width: 60%;
}

#portfolio p {
  margin-top: 3px;
  opacity: 60%;
  font-size: 14px;
}

#portfolio a.opentab {
  background: url("/img/link.png") no-repeat right;
  background-size: 10px;
  padding-right: 15px;
}

#portfolio a.expand {
  background: url("/img/expand.png") no-repeat right;
  background-size: 10px;
  padding-right: 15px;
}

#portfolio .work {
  box-sizing: border-box;
  background-color: #FCF2E6;
  padding: 1em;
  border-radius: 10px 50px 10px 50px;
}

#portfolio .soon {
  opacity: 40%;
}

#portfolio img {
  width: 100%;
  border-radius: 0 0 0 40px;
}

#contact {
  background: url("/img/letswork.png") no-repeat;
  background-position: -100px bottom;
  background-size: 65%;
  height: 80vh;
}

/** Font Style **/
h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #DB4D4D;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-style: italic;
}

p, li {
  font-family: 'Lato';
}

p {
  font-size: 1.25rem;
}

li {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 480px) {
  /* Styles */
  nav {
    padding-right: 5%;
  }
  nav ul {
    margin-top: 5px;
  }
  section {
    padding-top: 10%;
  }
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
  }
  #intro {
    background-size: 80%;
    background-position: 130% 10%;
  }
  #intro p, #intro h1, #intro h2 {
    width: 100%;
  }
  #intro #linkbelow {
    font-size: 0.75em;
    background: url("/img/arrow_down.png") no-repeat center;
  }
  #skills {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    background: url("/img/brush_bg.png") no-repeat top;
    background-size: 270%;
  }
  #skills h1 {
    grid-column: 1 / 3;
    padding-bottom: 20px;
  }
  #skills h3 {
    font-weight: 100;
    align-self: end;
  }
  #skills h3:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }
  #skills h3:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }
  #skills h3:nth-of-type(3) {
    grid-column: 1;
    grid-row: 4;
  }
  #skills h3:nth-of-type(4) {
    grid-column: 2;
    grid-row: 4;
  }
  #contact {
    background-position: -100px bottom;
    background-size: 100%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-device-height: 375px) {
  /* Styles */
  #intro h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  #intro h2 {
    font-size: 1rem;
    font-weight: 600;
  }
  #intro p {
    width: 80%;
    font-size: 1rem;
  }
  #intro #linkbelow {
    width: 20%;
    height: 50px;
    background-position: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size: .75em;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
