body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #cbffdc 0, #baffdc 16.67%, #abffda 33.33%, #9df2d5 50%, #92e3cf 66.67%, #89d5c9 83.33%, #83c9c4 100%);
}

nav {
  position: fixed;
  right: 0;
  width: 100%;
  padding-right: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  padding: 5px 10px;
  background-color: #C4FCCA;
  border-radius: 5px;
}

nav li a {
  text-decoration: none;
}

nav .active, nav .btn:hover {
  background-color: #9DDBA3;
}

section {
  min-height: 100vh;
  padding: 0 10%;
  scroll-behavior: smooth;
}

#intro {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 130% 45%;
  background-image: url("/img/main.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro p, #intro h1, #intro h2 {
  width: 60%;
}

#intro #linkbelow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  text-align: center;
  font-size: 1em;
  background: url("/img/arrow_down.png") no-repeat center;
  height: 100px;
}

#portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

#portfolio h1 {
  width: 60%;
}

/** Font Style **/
h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #DB4D4D;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

p, li {
  font-family: 'Lato';
}

p {
  font-size: 1.25rem;
}

li {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  margin: 2px;
}

.work {
  background-color: #FCF2E6;
  padding: 2em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 480px) {
  /* Styles */
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
  }
  #intro {
    background-size: 80%;
    background-position: 130% 10%;
  }
  #intro p, #intro h1, #intro h2 {
    width: 100%;
  }
  #intro #linkbelow {
    font-size: 0.75em;
    background: url("/img/arrow_down.png") no-repeat center;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
